@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: #161616;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #383838;
    border-radius: 14px;
    
  }
