

                    /* hidden
                    text-white
                    
                    max-lg:w-[100vw]
                    max-lg:h-[100vh]
                    max-lg:bg-[#000212]/95
                    max-lg:backdrop-blur-xl
                    max-lg:fixed
                    max-lg:left-0
                    max-lg:top-0
                    max-lg:flex
                    max-lg:flex-col
                    max-lg:items-center
                    max-lg:justify-center
                    max-lg:z-[2342] */