/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/features/product/product.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.product_sizes_list__KAMhz {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product_sizes_list__KAMhz input {
    display: none;
    position: absolute;
}

.product_check_label__GqDrQ {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    width: 2rem;
    height: 2rem;
    font-size: 0.75rem;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    color: white;
}

.product_sizes_list__KAMhz input:checked + .product_check_label__GqDrQ {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 4px;
    color: black;
}

